
src/07_R/inData/Koweps/데이터/Koweps_c10_2015_beta1.sav
src/07_R/inData/Koweps/데이터/Koweps_h10_2015_beta1.sav
src/07_R/inData/Koweps/데이터/Koweps_hpc10_2015_beta1.sav
src/07_R/inData/Koweps/데이터/Koweps_p10_2015_beta1.sav
src/07_R/Koweps_hpc10_2015_beta1.sav
